$color-primary: #161616;
$color-secondary: #eae0d5;
$color-accent: #da3939;
$color-tertiary: #69747c;
$color-shadow: #1e1e1e;

$page-inline-padding: 6rem;
$mobile-page-inline-padding: 1rem;
$tablette-page-inline-padding: 3rem;
$font-title: 'Barlow Condensed', sans-serif;
$font-text: 'Josefin Sans', sans-serif;
