$color-primary: #161616;
$color-secondary: #eae0d5;
$color-accent: #f05a5e;
$color-tertiary: #69747c;
$color-shadow: #1e1e1e;

$color-accent-shadow: #da3939;

$page-inline-padding: 6rem;
$mobile-page-inline-padding: 1.5rem;
$tablette-page-inline-padding: 3rem;
$font-title: 'Barlow Condensed', sans-serif;
$font-text: 'Josefin Sans', sans-serif;

$border-radius: 0.55rem;
$border-width: 0.1rem;
